[Desktop Entry]
Type=Application
Name=CraftHub
GenericName=JSON Editor
GenericName[ru]=Редактор JSON
Comment=CraftHub features a powerful JSON editor and JSON creation tools, alongside an intuitive platform for uploading existing programming language classes or building new ones from scratch.
Comment[ru]=CraftHub — это мощный редактор JSON и инструменты создания JSON, а также интуитивно понятная платформа для загрузки существующих классов языков программирования или создания новых с нуля.
Icon=crafthub
Exec=/usr/share/crafthub/CraftHub %F
StartupWMClass=crafthub
Terminal=false
Categories=Development;
MimeType=application/json;
Keywords=json;hub;crafthub;editor;schema;
Keywords[ru]=json;редактор;схема;таблица;классы;
